html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

/* unvisited link */
a:link {
  color: rgb(26, 13, 171);
  text-decoration: none;
}

/* visted link */
a:visited {
  color: rgb(26, 13, 171);
  text-decoration: none;
}

/* hover over link */
a:hover {
  color: rgb(26, 13, 171);
  text-decoration: underline;
}

/* selected link */
a:active {
  color: rgb(26, 13, 171);
  text-decoration: none;
}

.container {
  color: rgba(0, 0, 0.87);
  font-family: arial, sans-serif;
  font-size: 13px;
  padding: 0;
  margin 0;
}

.header {
  display: block;
  top: 0;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  padding-right: 25px;
}

li {
  display: inline-block;
}

ul {
  padding: 0;
  margin: 0;
}

.main-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 272px;
  padding-top: 200px;
  padding-bottom: 10px;
}

form {
  display: block;
  margin: 0 auto;
}

.main-searchbar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 584px;
  height: 44px;
  margin-top: 5px;
  border: solid 0.5px rgb(220, 220, 220);
  box-shadow: -1px 10px 6px -11px rgba(0,0,0,0.47);
}

.main-buttons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 430px;
  height: 30px;
  padding-left: 200px;
  padding-top: 30px;
}

p {
  width: 100%;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: rgb(102, 102, 102);
  background-color: rgb(242, 242, 242);
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
  padding-right: 20px;
}

#store {
  padding-left: 20px;
}

#images {
  padding-left: 15px;
}

#advertising {
  padding-right: 20px;
}

#terms {
  padding-left: 20px;
  padding-right: 20px;
}
